.toast.toast-dark {
    background-color: rgba(30, 30, 30, 0.85);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(6px);
    color: #f8f9fa;
}

.toast.toast-dark .toast-header {
    background-color: rgba(20, 20, 20, 0.9);
    color: #ffffff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.toast.toast-dark .toast-header .btn-close {
    filter: invert(1); /* lo vuelve blanco */
}

.toast.toast-dark .toast-body {
    color: #dee2e6;
}